1.Write a code to create a string with your name and print it.

In [1]:
# create string type variables

name = "Vikash Kumar Minz"
print(name)

Vikash Kumar Minz

2.Write a code to find the length of the string "Hello World".

In [2]:
my_string = "Hello World"
string_length = len(my_string)

print(f"The length of the string 'Hello World' is: {string_length}")

The length of the string 'Hello World' is: 11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
s = "Python Programming"

# Slice string from index 0 to index 5 (exclusive)
s2 = s[0:3]

print(s2)

Pyt

4.Write a code to convert the string "hello" to uppercase.

In [4]:

my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)  # Output: "HELLO"

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
original_string = "I like apple"
new_string = original_string.replace("apple", "orange")

print(new_string)  # Output: "I like orange"

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
my_list = [1, 2, 3, 4]
my_list.append(10)

print(my_list)  # Output: [1, 2, 3, 4, 10]

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)  # Output: b

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
a = [10, 20, 30, 40, 50]

# Reverse the list in-place
a.reverse()
print(a)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [11]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

12.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [12]:
my_tuple = ("apple", "banana", "cherry")
first_element = my_tuple[0]

print(first_element)  # Output: apple

apple

13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [20]:
# tuple of numbers
vowels = ('1', '2', '3', '2', '4', '2')

# counts the number of 2's in the tuple
count = vowels.count('2')

print(count)

# Output: 3

3

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')

print(f"The index of 'cat' in the tuple is: {index_of_cat}")

The index of 'cat' in the tuple is: 1

15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [15]:
my_tuple = ('apple', 'orange', 'banana')

if "banana" in my_tuple:
    print("The element 'banana' is present in the tuple.")
else:
    print("The element 'banana' is not present in the tuple.")

The element 'banana' is present in the tuple.

16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [16]:
numbers = {1, 2, 3, 4, 5,}
print(numbers)

{1, 2, 3, 4, 5}

17.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [17]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 6}

{1, 2, 3, 4, 6}

18.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [18]:
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [19]:
my_tuple = ("apple", "banana", "cherry")
first_element = my_tuple[0]

print(first_element)  # Output: apple

apple

20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [21]:
# tuple of numbers
vowels = ('1', '2', '3', '2', '4', '2')

# counts the number of 2's in the tuple
count = vowels.count('2')

print(count)

# Output: 3

3

21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [22]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')

print(f"The index of 'cat' in the tuple is: {index_of_cat}")

The index of 'cat' in the tuple is: 1

22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [23]:
my_tuple = ('apple', 'orange', 'banana')

if "banana" in my_tuple:
    print("The element 'banana' is present in the tuple.")
else:
    print("The element 'banana' is not present in the tuple.")

The element 'banana' is present in the tuple.

23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [24]:
numbers = {1, 2, 3, 4, 5,}
print(numbers)

{1, 2, 3, 4, 5}

24.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [25]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)  # Output: {1, 2, 3, 4, 6}

{1, 2, 3, 4, 6}